.entity {
    border: 1px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    user-select: none;
}

.entity-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}