.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.layercontent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.flex, .flex-v {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-v {
    flex-direction: column;
}